<ion-header [translucent]="true">
  <ion-toolbar color="secondary">

    <ion-title>
     
   <center>
    Cadastro
   </center>      </ion-title>

 
 
  </ion-toolbar>
  <img src="/assets/topcars.png">


<ion-card>
  <ion-card-header>
  
    <center><ion-card-title>Dados de Cadastro</ion-card-title></center>
  </ion-card-header>
  <ion-card-content>
    <ion-label position="floating"><strong>Email/Telefone</strong></ion-label>
    <ion-input placeholder=""></ion-input>
    <ion-label position="floating"></ion-label>
    <ion-label position="floating"><strong>Nome</strong></ion-label>
    <ion-input placeholder=""></ion-input>
    <ion-label position="floating"><strong>RG</strong></ion-label>
    <ion-input placeholder=""></ion-input>
   
    <ion-label position="floating"><strong>CPF</strong></ion-label>
    <ion-input placeholder=""></ion-input>
    <ion-label position="floating"><strong>CNH</strong></ion-label>
    <ion-input placeholder=""></ion-input>
    <ion-label position="floating"><strong>Digite sua senha</strong></ion-label>
    <ion-input type="password"></ion-input>

    <center><ion-button (click)  = "abrirpagina2()"> confirmar </ion-button></center>
